#game-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden!important;
    position: relative;
}
canvas {
    display: block;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}