/* style.css */

html, body {
	margin: 0;
	padding: 0;
	background: #5DACD8;
	overflow: hidden;
	width: 100%;
	height: 100%;
  }
  
  canvas {
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw !important;
    height: 100vh !important;
  }